LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
BOT_USER_ID=
ADMIN_USER_IDS=Uxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
HOTEL_LOG_SHEET_ID=1Re6oOTv_eSBLGfgU49iueuX3qLFr5DEW-qKKQ9ctNzE
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
ANTHROPIC_API_KEY=
